Repository NixOS/nixops, pull requests merged in 2018-09, with the labels that each got.

#998 Documentation about special NixOS module inputs
  doc/manual/overview.xml
Labels: documentation

#993 Add a resource for GCE routes
  examples/gce-route.nix
  nix/eval-machine-info.nix
  nix/gce-routes.nix
  nixops/resources/gce_route.py
Labels: backends/gce

#965 Feat: aws nvme support
  nix/ec2.nix
  nixops/backends/ec2.py
  nixops/util.py
  tests/functional/ec2_with_nvme_device_mapping.nix
  tests/functional/single_machine_ec2_base_nvme.nix
  tests/functional/single_machine_ec2_raid-0-nvme.nix
  tests/functional/test_backups.py
  tests/functional/test_ec2_with_nvme_device_mapping.py
  tests/unit/test_device_name_to_boto_expected.py
  tests/unit/test_device_name_to_sd.py
Labels: backends/ec2
